<header class="header">
	<a href="/">
		<h1>Message club</h1>
	</a>
	<% if (!locals.currentUser) { %>
		<a href="/log-in">Log in</a>
	<% } else { %>
		<a href="/log-out">Log out</a>
	<% } %>
</header>