<form action="/log-in" method="POST">
	<label for="username">Username</label>
	<input id="username" name="username" placeholder="username" type="text" />
	<label for="password">Password</label>
	<input id="password" name="password" type="password" />
	<button>Log In</button>
	<span>Don't have an account yet? Register <a href="/sign-in">here</a></span>
</form>