<main class="messageBoard">
	<% messages.forEach(element => { %>
		<div class="message">
			<h1><%= element.title %></h1>
			<p><%= element.text %></p>
			<span><%= `${locals.currentUser.role === "user"? "Redacted" : element.date }` %></span>
			<span> <%=  `${locals.currentUser.role === "user"? "Redacted" : element.username }` %></span>
		</div>
	<% }); %>
</main>