<main class="messageBoard">
	<% messages.forEach(element => { %>
		<div class="message">
			<h1><%= element.title %></h1>
			<p><%= element.text %></p>
			<div>
				<span> <%=  `User: ${locals.currentUser.role === "user"? "Redacted" : element.username }` %></span>
				<span><%= `Date: ${locals.currentUser.role === "user"? "Redacted" : element.date }` %></span>
			</div>
		</div>
	<% }); %>
</main>