<div class="message">
	<% messages.forEach(element => { %>
		<h1><%= element.title %></h1>
		<p><%= element.text %></p>
		<span><%= element.date %></span>
		<span> <%= element.users_id %></span>
	<% }); %>
</div>