<dialog id="postMessage">
	<form action="/messages/new-message" method="post">
		<label for="title">Title</label>
		<input id="title" name="title" placeholder="Title" type="text" required/>
		<label for="content">Message</label>
		<textarea name="content" id="content" placeholder="Message" required></textarea>
		<button class="mainBtn">Submit</button>
		<%- include("errors") %>
	</form>
</dialog>