<form action="/sign-in" method="POST">
	<label for="username">Username</label>
	<input id="username" name="username" placeholder="Username" type="text" required/>
	<label for="password">Password</label>
	<input id="password" name="password" type="password" required/>
	<label for="passwordRepeat">Repeat your password</label>
	<input id="passwordRepeat" name="passwordRepeat" type="password" required/>
	<button class="mainBtn">Register</button>
	<%- include("./errors") %>
</form>