<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Message club</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include("partials/header") %>
	<main>
		<div>
			<h1>Welcome to the private message app</h1>
			<p>Here you can post messages for other people to see, but only members can see who posted what and when</p>
		</div>
		<a href="/log-in">
			<button class="mainBtn">Log in</button>
		</a>
	</main>
	<%- include("./partials/footer") %>
</body>
</html>