<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Message club</title>
</head>
<body>
	<% if (locals.user) {%>
		<h1>Welcome back, user <%= user.username %></h1>
		<a href="/log-out">Log out</a>
	<% } else { %>
		<h1>Please log in</h1>
		<%- include("./partials/logInForm.ejs") %>
	<% } %>
	<a href="/sign-in">Not registered? Create an account here</a>
</body>
</html>