<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Message club", style: "style"}) %>
<body>
	<%- include("partials/header") %>
	<main>
		<div>
			<h1>Welcome to the private message app</h1>
			<p>Here you can post messages for other people to see, but only members can see who posted what and when</p>
		</div>
		<a href="/log-in">
			<button class="mainBtn">Log in</button>
		</a>
	</main>
	<%- include("./partials/footer") %>
</body>
</html>