<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Login", style: "form"}) %>
<body>
	<%- include("partials/header") %>
	<main>
		<h1>Log in</h1>
		<%- include("./partials/logInForm") %>
	</main>
	<%- include("./partials/footer") %>
</body>
</html>