<!DOCTYPE html>
<html lang="en">
	<%- include("partials/headTag", {title: "Message club", style: "messages"}) %>
<body>
	<%- include("partials/header") %>
	<div class="newMessageHeader">
		<h2>Post a new message</h2>
		<button class="mainBtn" id="msgBtn">New message</button>
	</div>
	<%- include("partials/message", { messages: messages }) %>
	<%- include("partials/newMessageForm") %>
	<script src="messages.js" defer></script>
</body>
</html>