<!DOCTYPE html>
<html lang="en">
	<%- include("partials/headTag", {title: "Message club", style: "messages"}) %>
<body>
	<%- include("partials/header") %>
	<h1>Probando</h1>
	<%- include("partials/message", { messages: messages }) %>
</body>
</html>