<!DOCTYPE html>
<html lang="en">
	<%- include("partials/headTag", {title: "Message club", style: "messages"}) %>
<body>
	<%- include("partials/header") %>
	<div>
		<h1>Post a new message</h1>
		<button class="mainBtn" id="msgBtn"></button>
	</div>
	<%- include("partials/message", { messages: messages }) %>
	<%- include("partials/newMessageForm") %>
	<script src="messages.js" defer></script>
</body>
</html>