<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Message club", style: "upgrade"}) %>
<body>
	<%- include("partials/header") %>
	<%- include("partials/upgradeForm") %>
	<%- include("partials/footer") %>
</body>
</html>